extends layout

block content
	div(ng-app='triad' ng-controller='TriadAppCtrl as app')
		canvas(pixi='stage' pixi-render='pixiRender' pixi-transparent='false' pixi-renderer='"webgl"')

block scripts
	script(src='/scripts/controllers/TriadAppCtrl.js')
	script(src='/scripts/directives/pixi.js')
