extends layout

block content
	.stretch(ng-app='triad' ng-controller='TriadAppCtrl as app')
		canvas(pixi='stage' pixi-render='pixiRender' pixi-transparent='false' pixi-renderer='"webgl"' resize width='{{parentSize.width}}' height='{{parentSize.height}}')

block scripts
	script(src='/scripts/main.js')
